{{define "public/footer.html"}}
<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted text-muted">
  <p class="h5 mb-0 ml-auto">
    2024 <a class="link-muted" href="#" target="_blank">MetaID</a>.
  </p>
</footer>
<script>
  function pasteSearch(e) {
    setTimeout(function () {
      const key = e.target.value.replace(/^s*|s*$/g, '')
      if (key.length > 0) {
        location.href = "/search/" + key;
      }
    }, 0)
  }

  const s = document.getElementById("search_key");
  s.addEventListener("paste", pasteSearch)
</script>
{{end}}