{{define "public/head.html"}}
<head>
  <title>MetaID App Node</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="MetaID App Node">
  <meta name="description" content="MetaID App Node">
  <meta name="author" content="MetaID App Node">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
  <!-- Theme Styles -->
  <link rel="stylesheet" href="/assets/css/theme.css">
  <script src="/assets/js/iconfont.js"></script>
   <!-- Global Vendor -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- Initialization  -->
  <script src="/assets/js/sidebar-nav.js"></script>
  <link rel="stylesheet" href="/assets/css/fix.css">
  <!-- Custom Charts -->
  <style>
    .js-doughnut-chart {
      width: 70px !important;
      height: 70px !important;
    }
  </style>
</head>
{{end}}