{{ define "home/mrc20history.html" }}
<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- Head -->
{{ template "public/head.html"}}
<!-- End Head -->

<body>
  <!-- Header (Topbar) -->
  {{ template "public/header.html"}}
  <!-- End Header (Topbar) -->

  <main class="u-main" role="main">
    <!-- Sidebar -->
    {{ template "public/aside.html" }}
    <!-- End Sidebar -->
    <div class="u-content">
      <div class="u-body" style="min-height: 500px;">
        <h2>Tick {{.Tick}}</h2>
        <div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">TickName</th>
                  <th scope="col">Time</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Amt</th>
                  <th scope="col">Option</th>
                  <th scope="col">TxPoint</th>
                  <th scope="col">Status</th>
                  <th scope="col">Verify</th>
                  <th scope="col">Msg</th>
                </tr>
              </thead>

              <tbody>
                {{ range $i, $v := .List }}
                <tr>
                  <td>{{$v.Tick}}</td>
                  <td>{{$v.Timestamp | formatTime }}</td>
                  <td> {{$v.FromAddress | formatAddress }}</td>
                  <td>{{ $v.ToAddress | formatAddress }}</td>
                  <td>
                    {{ $v.AmtChange }}
                  </td>
                  <td>
                    {{ $v.MrcOption }}
                  </td>
                  <td>
                    <a style="text-decoration: underline;" href="/tx/{{ $v.Chain}}/{{$v.TxPoint | outpointToTxId}}"
                       target="_blank">
                      {{ $v.TxPoint | formatAddress }}
                    </a>
                  </td>
                  <td>
                    {{ $v.Status }}
                  </td>
                  <td>
                    {{ $v.Verify }}
                  </td>
                  <td>
                    {{ $v.Msg }}
                  </td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>

      </div>
      <div style="margin-left: 40px;font-size: 18px;margin-bottom: 20px;">
        {{if eq .PrePage 0}}
        Prev
        {{else}}
        <a href="/mrc20/history/{{.Tick}}/{{.PrePage}}" class="link">Prev</a>
        {{end}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{if eq .NextPage 0}}
        Next
        {{else}}
        <a href="/mrc20/history/{{.Tick}}/{{.NextPage}}" class="link">Next</a>
        {{end}}
      </div>
      <!-- Footer -->
      {{ template "public/footer.html"}}
      <!-- End Footer -->
    </div>
  </main>
</body>

</html>
{{end}}