{{ define "home/mrc20.html" }}
<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- Head -->
{{ template "public/head.html"}}
<!-- End Head -->

<body>
  <!-- Header (Topbar) -->
  {{ template "public/header.html"}}
  <!-- End Header (Topbar) -->
  <main class="u-main" role="main">
    <!-- Sidebar -->
    {{ template "public/aside.html" .}}
    <!-- End Sidebar -->
    <div class="u-content">
      <div class="u-body" style="min-height: 500px;">

        <h1>Mrc20 List</h1>
        <div class="row">
          {{ range $i, $v := .Ticks }}
          <div class="col-md-4 col-lg-3 col-xl-3 mb-4 ">
            <a href="/mrc20/history/{{$v.Mrc20Id}}/1" class="link">
              <div class="pin-card height-200 blur shadow-blur">
                <div class="pin-card-body">
                  <div class="number">#{{ $v.Tick }}</div>
                  <b>TickId: </b>{{ $v.Mrc20Id | formatAddress }}<br />
                  <b>TokenName:</b> {{ $v.TokenName }}<br />
                  <b>AmtPerMint:</b> {{ $v.AmtPerMint }}<br />
                  <b>MintCount:</b> {{ $v.MintCount }}<br />
                  <b>PremineCount:</b> {{ $v.PremineCount }}<br />
                  <b>Blockheight:</b> {{ $v.Blockheight }}<br />
                  <b>Qual:</b> {
                  creator:"{{ $v.Qual.Creator }}",
                  lvl:"{{ $v.Qual.Lv }}",
                  count:"{{ $v.Qual.Count }}",
                  path:"{{ $v.Qual.Path }}"
                  }<br />
                  <b>TotalMinted:</b> {{ $v.TotalMinted }}
                </div>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
      <div style="margin-left: 40px;font-size: 18px;">
        Prev&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next
      </div>
      <!-- Footer -->
      {{ template "public/footer.html"}}
      <!-- End Footer -->
    </div>
  </main>
</body>

</html>
{{end}}